In [3]:
result=lambda x,y:x+y
    
print(result(2,4))

6

In [5]:
def add(x,y):
    print(x+y)
add(2,4)

6

In [7]:
x="some kind of useless lambda"
(lambda x: print(x))(x)

some kind of useless lambda

In [8]:
name="Anjana"
address="bandra"
(lambda name,address:print(name,address))
(name,address)

('Anjana', 'bandra')

In [9]:
cube=lambda i:i**3

print(cube(4))

64

In [10]:
square=lambda j:j**2

print(square(4))

16

In [12]:
add= lambda i,j:i+j
sub= lambda i,j:i-j
mul= lambda i,j:i*j
div= lambda i,j:i/j
print(add(3,2))
print(sub(3,2))
print(mul(3,2))
print(div(3,2))

5
1
6
1.5

IndentationError: expected an indented block (<ipython-input-13-29d68b679445>, line 3)

In [16]:
def guru(funt,*args):
    funct(*args)
    def printer_one(arg):
        return print(arg)
    def printer_two(arg):
        print(arg)
        guru(printer_one,'printer 1 REGULAR CALL')
        guru(printer_two,'printer 2 REGULAR CALL\n')
        guru(lambda:printer_one('printer 1 LAMBDA CALL'))
        guru(lambda:printer_two('printer 2 LAMBDA CALL'))